# Ignore all files and directories
*

# But not these files...
!.gitignore
!README.md
!get_imgs.py
!main.py

# Explicitly do not ignore directories, to be able to include files within them
!*/

# However, ignore all CSV files within those directories
*.csv
